[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
requests = "*"
unknown = {editable = true, path = "."}
pandas = "*"

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
ipykernel = "*"
sphinx = "*"
autodoc-pydantic = "*"
pdoc = "*"

[requires]
python_version = "3.9"
