[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
requests = "*"
tqdm = "*"

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
ipykernel = "*"
sphinx = "*"
pytest-check = "*"
autodoc-pydantic = "*"
pdoc = "*"
twine = "*"
pandas = "*"

[requires]
python_version = "3.9"
